/* This is a custom css */

.middle{
    margin-top: 250px
}
.customer-add-middle{
    margin-top: 50px
}
.home {
    font-size: 30px
}
.intro{
    margin-top:80px
}

.move-center{
    width: 10%;
    margin: auto;
    
}

.print-btn{
    color : #000;
    border: 1px solid #000;
    background-color: #fff;
    width: 70%
}

.print-btn:hover{
    color: #fff;
    background-color: #000;
}
.print-btn:focus{
    color: #fff;
    background-color: #000;
}


.summary-view{
    margin-top: 10vh;
}

.modal-trigger{
    cursor: pointer;
}

.modal .input-search {
    /* height: inherit; */
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal .input-field input[type=search]:focus{
    border: 1px solid rgb(150, 146, 146);
}

.modal .input-field input[type=search]{
    border: 1px solid rgb(122, 117, 117);
}

.search-mod {
    color: #fff;
    /* background-color: #ee6e73; */
    width: 80%;
    height: 68px;
    line-height: 56px;
}
.input-search{
    height: inherit;
    width: inherit;
}
.dashboard-box{
    margin-top: 100px;
}

.redirect-link{
    cursor: pointer;
}